:root {
    font-family: 'Indie Flower', sans-serif;
    --primary-color:#ffb3ba;
    --secondary-color:#b6eebd;
    --tertiary-color: #bae1ff; 
    --header-height: 50px;
    --footer-height: 40px;
}

a {
    text-decoration: none;
    /* color: inherit; */
}
 
body {
    background-color: #f3f3f3;
    margin: 0;
}

p {
    margin: 0;
}

main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.top-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--header-height);
    font-size: 1.2rem;
    background-color: var(--navbar-background-color);
}

.navbar-item {
    border: 1px solid var(--navbar-background-color);
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
}

.navbar-item:hover {
    border: 1px solid black;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
}

#navbar-about-page {
    --navbar-background-color: var(--primary-color);
}

#navbar-work-page {
    --navbar-background-color: var(--tertiary-color);
}

#navbar-motiv-page {
    --navbar-background-color: var(--secondary-color);
}

/* 1. landing page style */

#h1-intro {
    margin: auto;
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    /* need to fix the font-size */
    font-size: clamp(2rem, 10vw ,3rem);
}

#h2-intro {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 1.7rem;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--primary-color) solid;
    animation-duration: 2s;
    transform-origin: bottom;
    background-color: var(--primary-color);
}

#about:hover {
    background: url(/icons/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    color: var(--primary-color);
} 

#motiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--secondary-color) solid;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-delay: 1.5s;
    background-color: var(--secondary-color);
}


#motiv:hover {
    background-image: url(./icons/motiv.png);
    background-size: 290px 250px;
    background-repeat: no-repeat;
    color: #e75480;
    font-weight: bold;
}

#work {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--tertiary-color) solid;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-delay: 3s; 
}

#work:hover {
    background-image: url(/icons/work.png);
    background-size: cover;
    color: var(--tertiary-color);
    font-weight: bold;
}

.intro-border {
    display: block;
    padding: 3rem;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    text-align: center;
    font-size: 1.6rem;
}

/*1.1 add animation for landing page elements*/

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}
@keyframes bounce-1 {
    0%   { transform: scale(1,1)    translateY(-200px); }
    20%  { transform: scale(1.1,.9) translateY(0); }
    40%  { transform: scale(.9,1.1) translateY(-80px); }
    65% { transform: scale(1,1)    translateY(0); }
}

/* 2. Stlye "work" page
/* 2.1 create and style the grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(4, 10rem);
    grid-template-areas: 
        "start-project . . . ." 
        "project-1 . project-7 project-8 project-9"
        "project-2 . project-6 . project-10"
        "project-3 project-4 project-5 . ."
    ;

    column-gap: 0.1rem;
    row-gap: 0.1rem;
}

.position-grid {
    display: flex;
    justify-content: center;
    align-content: center;
}

#start-project {
    grid-area: start-project;
}

#project-1 {
    grid-area: project-1;
    background-color: var(--primary-color);
}
#project-2 {
    grid-area: project-2;
    background-color: var(--secondary-color);
}
#project-3 {
    grid-area: project-3;
    background-color: var(--tertiary-color);
}
#project-4 {
    grid-area: project-4;
    background-color: var(--primary-color);
}
#project-5 {
    grid-area: project-5;
    background-color: var(--secondary-color);
}
#project-6 {
    grid-area: project-6;
    background-color: var(--tertiary-color);
}
#project-7 {
    grid-area: project-7;
    background-color: var(--primary-color);
}
#project-8 {
    grid-area: project-8;
    background-color: var(--secondary-color);
}
#project-9 {
    grid-area: project-9;
    background-color: var(--tertiary-color);
}
#project-10 {
    grid-area: project-10;
    background-color: var(--primary-color);
}

.grid-items {
    border: solid 1px;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.8rem);
    padding: 1rem ;
    cursor: pointer;
}


/* 2.2 style the dialog description box that appears when the user clicks on a grid item */

.large-container {
    background-color:var(--primary-color);
    border: solid black 1px;
    position: absolute;
    top: 28vh;
    left: 44.2vw;
    width: 25vw;
    height: fit-content;
    padding: 1rem;
    display: none;
    font-family: sans-serif;
}

.close-btn {
background-color: inherit;
font-size: 14px;
padding: 0.2rem 0.5rem;
border-radius: 12px;
border: 2px solid rgb(253, 245, 245);
cursor: pointer;
}

/*3. Style the quiz on motiv page*/

#p-elem-motiv {
    text-align: center;
    font-size: 1.5rem;
}

.quiz-body {
    display: flex;
    padding-top: 13rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.correct {
    background-color: #3ace3a;
}

.wrong {
    background-color: #ce3a3a;
}

.quiz-container {
    width: 760px;
    max-width: 80%;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.grid-btn {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.quiz-btns {
    border: 1px solid black;
    background-color: #E0E0E0;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 1.2rem;
    min-height: 70px;
}

.quiz-btns:hover {
    background-color: #B8B8B8;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: black;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#display-text {
    font-size: 1.2rem;
    padding: 1rem;
}

.hide {
    display: none;
}

/* 4. Style about me page  */

.about-flexbox {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 3rem;
    margin-bottom: 7rem;
}

.about-me-description {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.6rem 3rem;
    font-family: sans-serif;
}

.position-icons {
    display: flex;
    justify-content: center;
    gap: 10px 15px;
    margin: 0.8rem;
}

.icons {
    width: 48px;
    height: 48px;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e8e8e8;
    gap: 15px;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 1.4rem; 
    height: var(--footer-height);
}

.position-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 808px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .intro-border {
        display: block;
        padding: 2.5rem;
        border-radius: 50%;
        width: 10.5rem;
        height: 10.5rem;
        text-align: center;
    }
    
    #intro {
        margin: auto;
        width: 50%;
        padding: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }

    .navbar-item {
        font-size: 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 5.5rem);
        grid-template-rows: repeat(4, 5.5rem);
        grid-template-areas: 
            "start-project project-9 project-8"
            "project-1 project-10 project-7"
            "project-2 . project-6"
            "project-3 project-4 project-5"
            
        ;
        column-gap: 0.1rem;
        row-gap: 0.1rem;
        text-align: center;
    }
    .grid-items {
        border: solid 1px;
        text-align: center;
        padding: 0.5rem ;
    }

    .large-container {
        position: absolute;
        top: 30vh;
        left: 30vw;
        width: 35vw;
        height: fit-content;
        padding: 1rem;
        display: none;
    }

    .about-flexbox {
        display: flex;  
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 15px;
        margin: 3rem;
        text-align: center;
    }

    .icons {
        width: 32px;
        height: 32px;
    }

    .about-me-description {
        text-align: center;
        font-size: 1.1rem;
        padding: 0.6rem 1.5rem;
        font-family: sans-serif;
    }

    .img-responsive {    
      width: 214px;
      height: auto;
    }
}
