:root {
    font-family: 'Indie Flower', sans-serif;
    --primary-color:#ffb3ba;
    --secondary-color:#b6eebd;
    --tertiary-color: #bae1ff; 
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

#intro {
    margin: auto;
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    font-size: clamp(2rem, 2.5vw ,2.5rem) ;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.2rem;
    margin-top: 5rem;
}

#about {
    border: 2px var(--primary-color) solid;
    animation-duration: 2s;
    transform-origin: bottom;
    background: url(/img/pinkimg.png)
}

/* #about:hover {
    background: url(/img/pinkimg.png);
}  */

#motiv {
    border: 2px var(--secondary-color) solid;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-delay: 1.5s;
    background-image: url(/img/greenimg.png);
}


/* #motiv:hover {
    background-image: url(/img/greenimg.png);
} */

#work {
    border: 2px var(--tertiary-color) solid;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-delay: 3s; 
    background-image: url(/img/blueimg.png)
}

/* #work:hover {
    background-image: url(/img/blueimg.png);
} */

.intro-border {
    display: block;
    padding: 3rem;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    text-align: center;
    font-size: 2rem;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}
@keyframes bounce-1 {
    0%   { transform: scale(1,1)    translateY(-200px); }
    20%  { transform: scale(1.1,.9) translateY(0); }
    40%  { transform: scale(.9,1.1) translateY(-80px); }
    65% { transform: scale(1,1)    translateY(0); }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(4, 10rem);
    grid-template-areas: 
        "start-project . . . ." 
        "project-1 . project-7 project-8 project-9"
        "project-2 . project-6 . project-10"
        "project-3 project-4 project-5 . ."
    ;

    column-gap: 0.1rem;
    row-gap: 0.1rem;
}

.position-grid {
    display: flex;
    justify-content: center;
    align-content: center;
}

#start-project {
    grid-area: start-project;
}

#project-1 {
    grid-area: project-1;
    background-color: var(--primary-color);
}
#project-2 {
    grid-area: project-2;
    background-color: var(--secondary-color);
}
#project-3 {
    grid-area: project-3;
    background-color: var(--tertiary-color);
}
#project-4 {
    grid-area: project-4;
    background-color: var(--primary-color);
}
#project-5 {
    grid-area: project-5;
    background-color: var(--secondary-color);
}
#project-6 {
    grid-area: project-6;
    background-color: var(--tertiary-color);
}
#project-7 {
    grid-area: project-7;
    background-color: var(--primary-color);
}
#project-8 {
    grid-area: project-8;
    background-color: var(--secondary-color);
}
#project-9 {
    grid-area: project-9;
    background-color: var(--tertiary-color);
}
#project-10 {
    grid-area: project-10;
    background-color: var(--primary-color);
}

.grid-items {
    border: solid 1px;
    text-align: center;
    /* font-size: clamp(1rem, 2.5vw, 1.8rem); */
    padding: 1rem ;
    cursor: pointer;
    /* width: 10vw;
    min-height: 15vh; */
    font-size: 1.8rem;
}

/* .item-resized {
    width: 20rem;
    height: 15rem;
} */

.large-container {
    background-color:var(--primary-color);
    border: solid black 1px;
    position: absolute;
    top: 28vh;
    left: 44.2vw;
    min-width: 30px;
    height: 15vh;
    width: 18.8vw;
    padding: 1rem;
    display: none;
}

.close-btn {
background-color: inherit;
font-size: 14px;
padding: 0.2rem 0.5rem;
border-radius: 12px;
border: 2px solid rgb(253, 245, 245);
cursor: pointer;
}

@media (min-width: 320px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .intro-border {
        display: block;
        padding: 2.5rem;
        border-radius: 50%;
        width: 10.5rem;
        height: 10.5rem;
        text-align: center;
    }
    
    #intro {
        margin: auto;
        width: 50%;
        padding: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 5.5rem);
        grid-template-rows: repeat(4, 5.5rem);
        grid-template-areas: 
            "start-project  . . . ."
            "project-1 . project-7 project 8 project-9"
            "project-2 . project-6 . project-10"
            "project-3 project-4 project-5 . ."
            
        ;
        column-gap: 0.1rem;
        row-gap: 0.1rem;
        text-align: center;
    }
    .grid-items {
        border: solid 1px;
        text-align: center;
        padding: 0.5rem ;
    }

}

